.sidenav{
    height: 100vh;
    width: 150px;
    border: 1px solid lightgray;
    background-color: transparent;
    margin-top: 3;
    overflow-y: auto;
    position: fixed;
}
li{
    list-style: none;
    margin: 2rem 0rem;
}
a{
    text-decoration: none;
}

ul{
    margin-top: 200px;
}