.sidenav{
    width: 150px;
    border-right: 1px solid lightgray;
    background-color: transparent;
    overflow-y: auto;
}
li{
    list-style: none;
    margin: 2rem 0rem;
}
a{
    text-decoration: none;
}

ul{
    margin-top: 200px;
}
:host{
    width: 150px;
    height: 100vh;
}