.card {
  border: 1px solid #000;
  height: 250px;
  width: 150px;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
:host{
  width: 80%;
  display: flex;margin-top: 5rem;
  margin-bottom: 5rem;
}