* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-select {
    width: 50%;

}

form {
    /* margin-left: 6rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
input, textarea {
    display: block;
}
:host{
    width: 80%;
    display: flex;margin-top: 5rem;
    margin-bottom: 5rem;
}