main{
    
    grid-area: content;
    width: 80%;
}
:host{
    width: 80%;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card {
    border: 1px solid lightgrey;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 3px rgba(31, 31,31, 0.2);
}
